* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.logo {
    width: 40px;
}

.one-bit {
    width: 200px;
}

.botoes {
    display: flex;
    gap: 10px;
}

.botao {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.botao:hover {
    border-color: #ff0044;
}